# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

## Author: 
Eriks Utinans

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries Data Science
* List Data Science tools
* Show knoladge of evaluating arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java 
5. C/C++

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

|Data Science Tools|
| --- |
|Jupyter Notebook|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
result = 200/60
print("200 minutes are =", result, "hours")

200 minutes are = 3.3333333333333335 hours